<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/img/icons8-fire-96.png">

    <title>Chemical Kinetics Database</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Custom styles for this template -->
    <!-- <link href="dashboard.css" rel="stylesheet"> -->
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark static-top bg-dark">
        <img src="../../static/img/icons8-fire-96.png" alt="icon"  height="35" width="35">
        <a class="navbar-brand" href="#">
          G7 - Chemical Kinetics Database
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
           <!--  <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
          </ul>
<!--           <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row" style="min-height: 800px">
        
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

          <ul class="nav nav-pills flex-column">
            <p></p>
            <p></p>
            <li class="nav-item">
              <a class="nav-link" href="#">Search History</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalLong">NASA coeffs</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/app/docs">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li>
            <li class="nav-item">
              <p class="nav-link">version 1.2.0</p>
            </li>
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h2>Search Computed Reactions</h2>
          <hr></hr>
          <h5 style="color:gray;">select the filters</h5>
          <p></p>
          <form action="/app/filters/" method="POST">
            {% csrf_token %}
            <div class="form-group row">
              <label class="col-sm-1 col-form-label">Species</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="species" placeholder="H2, O2, HO">
              </div>
            </div>
            <div class="form-group form-inline">
                <div class="form-group">
                  <label class="col-sm-1 col-form-label">&nbsp;&nbsp;T&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </div>
                <div class="form-group mx-sm-4">
                    <select class="form-control" name="comparator">
                      <option><</option>
                      <option>></option>
                      <option>=</option>
                    </select>
                    <input type="text" class="form-control" name="T" placeholder="1000">
                </div>
              </div>
          <p></p>
            <div class="form-check form-check-inline">
              <label>Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="reversible">Reversible
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="non_reversible"> Non-Reversible
              </label>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
          </form>
          <hr></hr>
          <h5 style="color:gray;">retrieved</h5>
          {% if empty %}
            <p>No matching result</p>
          {% else %}
            <div id="accordion" role="tablist" aria-multiselectable="true">
          {% for reaction_set in data %}
              <div class="card">
              <div class="card-header" role="tab" id="h{{reaction_set.rsid}}">
                <div>
                  {% if forloop.first %}
                      <a data-toggle="collapse" data-parent="#accordion" href="#c{{reaction_set.rsid}}" aria-expanded="true" aria-controls="#c{{reaction_set.id}}">
                        <h6>Reaction set {{reaction_set.rsid}}</h6>
                      </a>
                      <p size="6">computed at <i>{{reaction_set.createAt}}</i> from file <i>{{reaction_set.origin}}</i></p>
                  {% else %}
                      <a data-toggle="collapse" data-parent="#accordion" href="#c{{reaction_set.rsid}}" aria-expanded="false" aria-controls="#c{{reaction_set.rsid}}">
                        <h6>Reaction set {{reaction_set.rsid}}</h6>
                      </a>
                      <p>computed at <i>{{reaction_set.createAt}}</i> from file <i>{{reaction_set.origin}}</i></p>
                  {% endif %}
                </div>
              </div>
                {% if forloop.first %}
                  <div id="c{{reaction_set.rsid}}" class="collapse show" role="tabpanel" aria-labelledby="h{{reaction_set.rsid}}">
                {% else %}
                   <div id="c{{reaction_set.rsid}}" class="collapse" role="tabpanel" aria-labelledby="h{{reaction_set.rsid}}">
                {% endif %}
                    <div class="card-block">
                      <div class="card">
                        <div class="card-header">Reaction Set General Info</div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <p>Temperature:&nbsp;&nbsp;{{reaction_set.T}}</p>
                            <p># Reactions:&nbsp;&nbsp;{{reaction_set.num_reaction}}</p>
                          </li>
                          <li class="list-group-item">species:&nbsp;&nbsp;{{reaction_set.species}}</li>
                          <li class="list-group-item">Concentration:&nbsp;&nbsp;{{reaction_set.x}}</li>
                           <li class="list-group-item">Reaction rates:&nbsp;&nbsp;{{reaction_set.rrs}}</li>
                          <li class="list-group-item"></li>
                        </ul>
                      </div>
                      {% for reaction in reaction_set.reactions %}
                        <div class="card">
                          <div class="card-header"> Reaction {{reaction.rid}} </div>
                          <ul class="list-group list-group-flush">
                                <li class="list-group-item">equation:&nbsp;&nbsp;{{reaction.equation}}</li>
                                <li class="list-group-item">
                                  <p>Reaction type:&nbsp;&nbsp;{{reaction.rtype}}</p>
                                  <p>Reversible:&nbsp;&nbsp;{{reaction.reversible}}</p>
                                </li>
                              <li class="list-group-item">Coeffs paramters:&nbsp;&nbsp;{{reaction.coeff_params}}</li>
                              <li class="list-group-item">V1:&nbsp;&nbsp;{{reaction.V1}}</li>
                              <li class="list-group-item">V2:&nbsp;&nbsp;{{reaction.V2}}</li>
                        </ul>
                        </div>
                      {% endfor %}

                    </div>
                  </div>
              </div>
          {% endfor %}
           </div>
          {% endif %}
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5>H2</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">T</th>
                        <th scope="col">NASA Coeffs</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../static/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../static/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="../../static/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
